<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></meta>
    <div th:replace="repository/header :: header-css"/>
    <style>
        .content {
            height: 35px;
            width: 200px;
            float: left;
        }
    </style>

    <title>Repos_Man</title>

</head>
<body>
<div th:replace="repository/header :: header"/>
<div class="col-md-9 main">
    <div class="header-grids">
        <div class="col-md-6 log">
            <h3>登记产品入库信息</h3>
            <form autocomplete="off"
                  th:object="${addReposInfo}" th:action="@{/repository/addReposInfo}" method="post"
                  class="form-horizontal"
                  role="form" id="addReposInfo" name="addReposInfo">
                <div>
                    <div class="content"><h5>产品编号:</h5></div>
                    <div class="content">
                        <select name="proNum" th:filed="*{proNum}">
                            <option>产品编号</option>
                            <option th:each="proNumName:${proNumNameList}" th:value="${proNumName.proNum}"
                                    th:text="${proNumName.proNum}+${proNumName.proName}"></option>
                        </select>
                    </div>
                </div>

                <div class="content"><h5>仓库编号:</h5></div>
                <div class="content">
                    <select name="warehouseNum" th:filed="*{warehouseNum}">
                        <option>请选择仓库编号</option>
                        <option th:each="repositoryStationInfo:${repositoryStationInfoList}" th:value="${repositoryStationInfo.warehouseNum}"
                                th:text="${repositoryStationInfo.warehouseNum}+${repositoryStationInfo.warehouseName}"></option>
                    </select>
                </div>

                <div>
                    <div class="content"><h5>贮藏重量:</h5></div>
                    <div class="content">
                        <input type="text" name="proWeight" th:filed="*{proWeight}">
                    </div>
                </div>

                <div>
                    <div class="content"><h5>入库时间:</h5></div>
                    <div class="content">
                        <input type="datetime-local" name="recordedTime" th:filed="*{recordedTime}">
                    </div>
                </div>
                <div><input class="content" type="submit" value="提交"></div>
            </form>
        </div>

        <div class="col-md-6 log">
            <h3>查询产品贮藏信息</h3>
            <form autocomplete="off"
                  th:object="${reposInfoById}" th:action="@{/repository/reposInfoById}" method="post"
                  class="form-horizontal"
                  role="form" id="queryReposInfoById" name="queryReposInfoById">
                <div>
                    <!-- <div class="content"><h5>按产品编号:</h5></div>-->
                    <div class="content">
                        <select name="proNum" th:filed="*{proNum}">
                            <option>产品编号</option>
                            <option th:each="proNumName:${proNumNameList}" th:value="${proNumName.proNum}"
                                    th:text="${proNumName.proNum}+${proNumName.proName}"></option>
                        </select>
                    </div>
                </div>
                <div><input class="content" type="submit" value="查询"></div>
            </form>
        </div>
        <div class="col-md-6 log">
            <h3>查询产品贮藏信息</h3>
            <form autocomplete="off"
                  th:object="${reposInfoByTime}" th:action="@{/repository/reposInfoByTime}" method="post"
                  class="form-horizontal"
                  role="form" id="queryReposInfoByTime" name="queryReposInfoByTime">
                <!--  <div class="content"><h5>按录入时间:</h5></div>-->
                <div>
                    <div class="content"><h5>贮藏起始时间:</h5></div>
                    <div class="content">
                        <input type="datetime-local" name="startTime" th:filed="*{startTime}">
                    </div>
                </div>
                <div>
                    <div class="content"><h5>贮藏起始时间:</h5></div>
                    <div class="content">
                        <input type="datetime-local" name="endTime" th:filed="*{endTime}">
                    </div>
                </div>
                <div><input class="content" type="submit" value="查询"></div>
            </form>
        </div>
        <div class="clearfix"></div>
    </div>

    <!--表格显示-->
    <div class="col-md-6 log">
        <table border="1">
            <thead>
            <tr>
                <th>产品编号</th>
                <th>产品名称</th>
                <th>贮藏重量</th>
                <th>贮藏仓库编号</th>
                <th>贮藏仓库名称</th>
                <th>是否登记</th>
                <th>贮藏起始时间</th>
                <th>贮藏温度</th>
                <!--  <th>生成二维码</th>-->
            </tr>
            </thead>
            <tbody>
            <tr th:each="repositoryInfo:${repositoryInfoList}">
                <td th:text="${repositoryInfo.proNum}"></td>
                <td th:text="${repositoryInfo.proName}"></td>
                <td th:text="${repositoryInfo.proWeight}"></td>
                <td th:text="${repositoryInfo.warehouseNum}"></td>
                <td th:text="${repositoryInfo.warehouseName}"></td>
                <td th:text="${repositoryInfo.inRecorded}"></td>
                <td th:text="${repositoryInfo.recordedTime}"></td>
                <td th:text="${repositoryInfo.saveTemp}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="clearfix"></div>
</div>
<div class="clearfix"></div>
</body>
</html>