<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></meta>
    <div th:replace="farmer/header :: header-css"/>
    <style>
        .content {
            height: 35px;
            width: 200px;
            float: left;
        }
    </style>
    <title>Cult_Man</title>
</head>
<body>
<div th:replace="farmer/header :: header"/>
<div class="col-md-9 main">
    <div class="header-grids">
        <div class="col-md-6 log">
            <h3>新增操作记录</h3>
            <form>
                <div>
                    <div class="content"><h5>地块选择:</h5></div>
                    <div class="content">
                        <select name="fieldId">
                            <option>请选择地块</option>
                            <option th:each="list:${session.list}" th:value="${list.userNum}"
                                    th:text="${list.userNum}"></option>
                        </select>
                    </div>
                </div>
                <div>
                    <div class="content"><h5>操作选择:</h5></div>
                    <div class="content">
                        <select name="operaId">
                            <option>请选择操作类型</option>
                            <option th:each="list:${session.list}" th:value="${list.userNum}"
                                    th:text="${list.userNum }"></option>
                        </select>
                    </div>
                </div>
                <div>
                    <div class="content"><h5>备注:</h5></div>
                    <div ><input type="text" value=""></div>
                </div>
                <div><input class="content" type="submit" value="提交"></div>
            </form>
        </div>
        <div class="clearfix"></div>
    </div>
    <!--  </div>-->

    <div class="clearfix"></div>
</div>
<div class="clearfix"></div>
</body>
</html>