<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:dt="http://www.thymeleaf.org/dandelion/datatables">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Title</title>
    <style>
        .div-a {
            float: left;
            width: 30%
        }

        .div-b {
            float: left;
            width: 30%
        }
    </style>
</head>
<body>
<div class="div-a">第一个DIV盒子</div>
<div class="div-b">第二个DIV盒子</div>

<table border="1" style="width:300px">
    <tr>
        <td>Test Name</td>
        <td>Test Name</td>
        <td>Test Name</td>
        <td>Test Name</td>
    </tr>
    <tr th:each="smokeTest : ${smokeTests}">
        <td>
            th:text="${smokeTest.name}">A Smoke Test'
        </td>
        <td>
            th:text="${smokeTest.name}">A Smoke Test'
        </td>
        <td>
            th:text="${smokeTest.name}">A Smoke Test'
        </td>
        <td>
            th:text="${smokeTest.name}">A Smoke Test'
        </td>
    </tr>

    <tr>
        <td>Test Name</td>
        <td>Test Name</td>
        <td>Test Name</td>
        <td>Test Name</td>
    </tr>
    <tr th:each="smokeTest : ${smokeTests}">
        <td>
            th:text="Test Name1">A Smoke Test'
        </td>
        <td>
            th:text="Test Name2">A Smoke Test'
        </td>
        <td>
            th:text="Test Name3">A Smoke Test'
        </td>
        <td>
            th:text="${smokeTest.name}">A Smoke Test'
        </td>
    </tr>
</table>

<div class="span12">
    <table id="myTableId" dt:table="true" border="1" style="width:300px">
        <thead>
        <tr>
            <th>Id</th>
            <th>LastName</th>
            <th>FirstName</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="person : ${persons}">
            <td th:text="${person?.id}">1</td>
            <td th:text="${person?.lastName}">Doe</td>
            <td th:text="${person?.firstName}">John</td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>