<!DOCTYPE html>
<html   xmlns:th="http://www.thymeleaf.org"

>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></meta>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <title>index</title>
</head>
<body>

<<!--ul class="navbar-nav mr-auto navbar-right">
    <li class="nav-item" sec:authorize="isAnonymous()">
        <a class="nav-link" href="/login" th:href="@{/login}">登录 </a>
    </li>
    <li class="nav-item" sec:authorize="isAuthenticated()">
        <span class="nav-link"  sec:authentication="name"></span>
    </li>
    <li class="nav-item">
        <form action="/logout" th:action="@{/logout}" method="post">
            <input class="btn btn-default  " type="submit" value="退出" />
        </form>
    </li>
</ul>-->
<p> 点击<a th:href="@{/farmer}">go</a>转到生产者</p>
<p> 点击<a th:href="@{/cooperator}">go</a>转到合作社</p>
</body>
</html>