<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></meta>
    <title>农产品追溯平台</title>
</head>
<body>
<div>
    <h3>产品基本信息</h3>
    <div>
    <form autocomplete="off"
          class="form-horizontal"
          role="form" id="qrcoderes" name="qrcoderes">
        <div>
            <div class="content"><h5>产品名称:</h5></div>
            <div class="content">
                <input readOnly="true" type="text" th:value="*{proName}">
            </div>
        </div>
        <div>
            <div class="content"><h5>生产地点:</h5></div>
            <div class="content">
                <input readOnly="true" type="text" th:value="*{coopName}">
            </div>
        </div>
        <div>
            <div class="content"><h5>收获时间:</h5></div>
            <div class="content">
                <input readOnly="true" type="text" th:value="*{harvTime}">
            </div>
        </div>
        <div>
            <div class="content"><h5>销售地点:</h5></div>
            <div class="content">
                <input readOnly="true" type="text" th:value="*{comName}">
            </div>
        </div>
        <div>
            <div class="content"><h5>上架时间:</h5></div>
            <div class="content">
                <input readOnly="true" type="text" th:value="*{recordedTime}">
            </div>
        </div>
    </form>
    </div>
</div>
<div>
    <h3>产品详细信息</h3>
    <div class="col-md-6 log">
        <h3>产品种植信息</h3>
    </div>

    <div class="col-md-6 log">
        <table border="1">
            <thead>
            <tr>
                <th>种子名称</th>
                <th>生产商</th>
                <th>保质期限</th>
                <th>登记时间</th>
                <th>登记人员编号</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="seedInfoRes:${seedInfoResList}">
                <td th:text="${seedInfoRes.seedName}"></td>
                <td th:text="${seedInfoRes.seedProducer}"></td>
                <td th:text="${seedInfoRes.seedValTime}"></td>
                <td th:text="${seedInfoRes.seedRegTime}"></td>
                <td th:text="${seedInfoRes.operatorNum}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <h3></h3>
    <div width="100%">
        <table border="1">
            <thead>
            <tr>
                <th>地块名称</th>
                <th>操作人员编号</th>
                <th>操作名称</th>
                <th>操作时间</th>
                <th>备注</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="operationHisRes:${operationHisResList}">
                <td th:text="${operationHisRes.filedName}"></td>
                <td th:text="${operationHisRes.userId}"></td>
                <td th:text="${operationHisRes.operationName}"></td>
                <td th:text="${operationHisRes.operateTime}"></td>
                <td th:text="${operationHisRes.operationMemo}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <h3></h3>
    <div class="col-md-6 log">
        <table border="1">
            <thead>
            <tr>
                <th>生产合作社</th>
                <th>种植地块</th>
                <th>收获时间</th>
                <th>操作人员编号</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="proInfoRes:${proInfoResList}">
                <td th:text="${proInfoRes.coopNum}"></td>
                <td th:text="${proInfoRes.filedNum}"></td>
                <td th:text="${proInfoRes.harvTime}"></td>
                <td th:text="${proInfoRes.operatorNum}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-6 log">
        <h3>产品物流信息</h3>
    </div>
    <div class="col-md-6 log">
        <table border="1">
            <thead>
            <tr>
                <th>产品名称</th>
                <th>运输起点</th>
                <th>操作人员编号</th>
                <th>运输终点</th>
                <th>起运时间</th>
                <th>运输车牌号</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="transInfoRes:${transInfoResList}">
                <td th:text="${transInfoRes.proName}"></td>
                <td th:text="${transInfoRes.comName}"></td>
                <td th:text="${transInfoRes.operatorNum}"></td>
                <td th:text="${transInfoRes.destinationName}"></td>
                <td th:text="${transInfoRes.recordedTime}"></td>
                <td th:text="${transInfoRes.carNum}"></td>
            </tr>
            </tbody>
        </table>

        <div class="col-md-6 log">
            <h3>产品仓储信息</h3>
        </div>
        <div class="col-md-6 log">
            <table border="1">
                <thead>
                <tr>
                    <th>贮藏仓库名称</th>
                    <th>贮藏起始时间</th>
                    <th>贮藏温度</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="repositoryInfo:${repositoryInfoList}">
                    <td th:text="${repositoryInfo.warehouseName}"></td>
                    <td th:text="${repositoryInfo.recordedTime}"></td>
                    <td th:text="${repositoryInfo.saveTemp}"></td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="col-md-6 log">
            <h3>产品销售信息</h3>
        </div>
        <div class="col-md-6 log">
            <table border="1">
                <thead>
                <tr>
                    <th>销售站点名称</th>
                    <th>上架时间</th>
                    <th>操作员编号</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="saleInfoRes:${saleInfoResList}">
                    <td th:text="${saleInfoRes.comName}"></td>
                    <td th:text="${saleInfoRes.recordedTime}"></td>
                    <td th:text="${saleInfoRes.operatorNum}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
</body>
</html>
