<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></meta>
    <div th:replace="cooperator/header :: header-css"/>
    <style>
        .content {
            height: 35px;
            width: 200px;
            float: left;
        }
    </style>
    <title>OperationOrder_Man</title>

</head>
<body>
<div th:replace="cooperator/header :: header"/>
<div class="col-md-9 main">
    <div class="header-grids">
        <div class="col-md-6 log">
            <h3>新增工单</h3>
            <form autocomplete="off"
                  th:object="${opeartionOrderInfo}" th:action="@{/cooperator/addOrder}" method="post"
                  class="form-horizontal"
                  role="form" id="addOrder" name="addOrder">

                <div>
                    <div class="content"><h5>地块选择:</h5></div>
                    <div class="content">
                        <select name="filedId" th:filed="*{filedId}">
                            <option>请选择地块</option>
                            <option th:each="filedInfoList:${filedInfoList}" th:value="${filedInfoList.id}"
                                    th:text="${filedInfoList.id}+${filedInfoList.filedName}"></option>
                        </select>
                    </div>
                </div>

                <div>
                    <div class="content"><h5>作物选择:</h5></div>
                    <div class="content">
                        <select name="seedId" th:filed="*{seedId}">
                            <option>请选择作物</option>
                            <option th:each="seedInfoList:${seedInfoList}" th:value="${seedInfoList.id}"
                                    th:text="${seedInfoList.id}+${seedInfoList.seedName}"></option>
                        </select>
                    </div>
                </div>
                <div>
                    <div class="content"><h5>操作选择:</h5></div>
                    <div class="content">
                        <select name="operateTypeId" th:filed="*{operateTypeId}">
                            <option>请选择操作类型</option>
                            <option th:each="operationTypeList:${operationTypeList}"
                                    th:value="${operationTypeList.id}"
                                    th:text="${operationTypeList.id }+${operationTypeList.operationName }"></option>
                        </select>
                    </div>
                </div>
                <div>
                    <div class="content"><h5>操作员选择:</h5></div>
                    <div class="content">
                        <select name="userId" th:filed="*{userId}">
                            <option>请选择操作员</option>
                            <option th:each="userInfo:${userInfoList}" th:value="${userInfo.userNum}"
                                    th:text="${userInfo.userNum}+${userInfo.Name}"></option>
                        </select>
                    </div>
                </div>
                <div><input class="content" type="submit" value="提交"></div>
            </form>
        </div>
        <div class="clearfix"></div>
    </div>

    <!--表格显示-->
    <div width="100%">
        <table border="1">
            <thead>
            <tr>
                <th>地块编号</th>
                <th>地块名称</th>
                <th>作物编号</th>
                <th>作物名称</th>
                <th>操作类型</th>
                <th>操作人员编号</th>
                <th>操作人员名称</th>
                <th>分配时间</th>
                <th>分配人名称</th>
                <th>工单状态(0未完成/1已完成)</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="orderInfoRes:${orderInfoResList}">
                <td th:text="${orderInfoRes.filedId}"></td>
                <td th:text="${orderInfoRes.filedName}"></td>
                <td th:text="${orderInfoRes.seedId}"></td>
                <td th:text="${orderInfoRes.seedName}"></td>
                <td th:text="${orderInfoRes.operationName}"></td>
                <td th:text="${orderInfoRes.userId}"></td>
                <td th:text="${orderInfoRes.userName}"></td>
                <td th:text="${orderInfoRes.orderTime}"></td>
                <td th:text="${orderInfoRes.createrName}"></td>
                <td th:text="${orderInfoRes.isDone}"></td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="clearfix"></div>
</div>
<div class="clearfix"></div>
</body>
</html>