<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></meta>
    <div th:replace="cooperator/header :: header-css"/>
    <style>
        .content {
            height: 35px;
            width: 200px;
            float: left;
        }
    </style>

    <title>Product_Man</title>

</head>
<body>
<div th:replace="cooperator/header :: header"/>
<div class="col-md-9 main">
    <div class="header-grids">
        <div class="col-md-6 log">
            <h3>录入产品</h3>
            <form autocomplete="off"
                  th:object="${productInfo}" th:action="@{/cooperator/addProduct}" method="post" class="form-horizontal"
                  role="form" id="addProduct" name="addProduct">
                <div>
                    <div class="content"><h5>合作社名称:</h5></div>
                    <select name="coopNum" th:filed="*{coopNum}">
                        <option>合作社名称</option>
                        <option th:text="${compNum}+${compName}" th:value="${compNum}"></option>
                    </select>
                </div>
                <div>
                    <div class="content"><h5>地块选择:</h5></div>
                    <div class="content">
                        <select name="filedNum" th:filed="*{filedNum}">
                            <option>请选择地块</option>
                            <option th:each="filedInfoList:${filedInfoList}" th:value="${filedInfoList.id}"
                                    th:text="${filedInfoList.id}+${filedInfoList.filedName}"></option>
                        </select>
                    </div>
                </div>
                <div>
                    <div class="content"><h5>产品名称:</h5></div>
                    <div class="content">
                        <select name="seedNum" th:filed="*{seedNum}">
                            <option>产品名称</option>
                            <option th:each="seedInfoList:${seedInfoList}" th:value="${seedInfoList.id}"
                                    th:text="${seedInfoList.id}+${seedInfoList.seedName}"></option>
                        </select>
                    </div>
                </div>
                <div>
                    <div class="content"><h5>产品重量:</h5></div>
                    <div class="content">
                        <input type="text" name="proWeight" th:filed="*{proWeight}">
                    </div>
                </div>
                <div>
                    <div class="content"><h5>收获时间:</h5></div>
                    <div class="content">
                        <input type="datetime-local" name="harvTime" th:filed="*{harvTime}">
                    </div>
                </div>
                <div><input class="content" type="submit" value="提交"></div>
            </form>
        </div>

        <div class="col-md-6 log">
            <h3>查询产品</h3>
            <form autocomplete="off"
                  th:object="${productInfoById}" th:action="@{/cooperator/queryProInfoById}" method="post"
                  class="form-horizontal"
                  role="form" id="queryProInfoById" name="queryProInfoById">
                <div>
                    <div class="content"><h5>按产品名称:</h5></div>
                    <div class="content">
                        <select name="seedNum" th:filed="*{seedNum}">
                            <option>产品名称</option>
                            <option th:each="seedInfoList:${seedInfoList}" th:value="${seedInfoList.id}"
                                    th:text="${seedInfoList.id}+${seedInfoList.seedName}"></option>
                        </select>
                    </div>
                </div>
                <div>
                    <div class="content"><h5>按地块编号:</h5></div>
                    <div class="content">
                        <select name="filedNum" th:filed="*{filedNum}">
                            <option>请选择地块</option>
                            <option th:each="filedInfoList:${filedInfoList}" th:value="${filedInfoList.id}"
                                    th:text="${filedInfoList.id}+${filedInfoList.filedName}"></option>
                        </select>
                    </div>
                </div>
                <div><input class="content" type="submit" value="查询"></div>
            </form>
        </div>
        <div class="col-md-6 log">
            <h3>查询产品</h3>
            <form autocomplete="off"
                  th:object="${proInfoByTime}" th:action="@{/cooperator/proInfoByTime}" method="post"
                  class="form-horizontal"
                  role="form" id="proInfoByTime" name="proInfoByTime">
                <div>
                    <div class="content"><h5>收获时间:</h5></div>
                    <div class="content">
                        <input type="datetime-local" name="startTime" th:filed="*{startTime}">
                    </div>
                </div>
                <div>
                    <div class="content"><h5>收获时间:</h5></div>
                    <div class="content">
                        <input type="datetime-local" name="endTime" th:filed="*{endTime}">
                    </div>
                </div>
                <div><input class="content" type="submit" value="查询"></div>
            </form>
        </div>
        <div class="clearfix"></div>
    </div>

    <!--表格显示-->
    <div class="col-md-6 log">
        <table border="1">
            <thead>
            <tr>
                <th>产品名称</th>
                <th>编号</th>
                <th>所属合作社</th>
                <th>所属地块</th>
                <th>收获时间</th>
                <th>产品重量</th>
                <th>操作人员编号</th>
                <th>生成二维码</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="proInfoRes:${proInfoResList}">
                <td th:text="${proInfoRes.proName}"></td>
                <td class="mouse_hover" value="${proInfoRes.proNum}" th:text="${proInfoRes.proNum}"></td>
                <td th:text="${proInfoRes.coopNum}"></td>
                <td th:text="${proInfoRes.filedNum}"></td>
                <td th:text="${proInfoRes.harvTime}"></td>
                <td th:text="${proInfoRes.proWeight}"></td>
                <td th:text="${proInfoRes.operatorNum}"></td>
                <td>
                    <form autocomplete="off"
                          th:object="${creatQRCode}" th:action="@{/cooperator/creatQRCode}" method="post"
                          class="form-horizontal"
                          role="form" id="qrCode" name="qrCode">
                            <div><input  name="proNum" th:filed="*{proNum}"  th:value="${proInfoRes.proNum}"></div>
                            <div><input class="content" type="submit" value="生成"></div>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="clearfix"></div>
</div>
<div class="clearfix"></div>
<!--<script>
    $(document).ready(function () {
        $(".mouse_hover").click(function () {
            alert("将此食品编号生成二维码" + $(this).text());
            var proNum = $(this).text();
            var str = "生成二维码"
            document.write(str.link("creatQRCode.html?proNum=" + proNum))
        })

    });
</script>-->
</body>
</html>