<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></meta>
    <div th:replace="transadmin/header :: header-css"/>
    <style>
        .content {
            height: 35px;
            width: 200px;
            float: left;
        }
    </style>

    <title>Trans_Update</title>

</head>
<body>
<div th:replace="transadmin/header :: header"/>
<div class="col-md-9 main">
    <div class="header-grids">
        <div class="col-md-6 log">
            <h3>修改/撤销产品入站信息</h3>
            <form autocomplete="off"
                  th:object="${upTransInfo}" th:action="@{/transadmin/upTransInfo}" method="post"
                  class="form-horizontal"
                  role="form" id="upTransInfo" name="upTransInfo">

                <div>
                    <div class="content"><h5>产品编号:</h5></div>
                    <div class="content">
                        <select name="proNum" th:filed="*{proNum}">
                            <option>产品编号</option>
                            <option th:each="proNumName:${proNumNameList}" th:value="${proNumName.proNum}"
                                    th:text="${proNumName.proNum}+${proNumName.proName}"></option>
                        </select>
                    </div>
                </div>


                <div>
                    <div class="content"><h5>运输重量:</h5></div>
                    <div class="content">
                        <input type="number" name="proWeight" th:filed="*{proWeight}">
                    </div>
                </div>

                <div>
                    <div class="content"><h5>运输车编号:</h5></div>
                    <div class="content">
                        <select name="carNum" th:filed="*{carNum}">
                            <option>请选择运输车编号</option>
                            <option th:each="transStationInfo:${transStationInfo}" th:value="${transStationInfo.carNum}"
                                    th:text="${transStationInfo.carNum}+${transStationInfo.carName}"></option>
                        </select>
                    </div>
                </div>

                <div>
                <div class="content"><h5>运输起点:</h5></div>
                <div class="content">
                    <select name="comNum" th:filed="*{comNum}">
                        <option>运输起点</option>
                        <option th:text="${startStationNum}+${startStationName}"
                                th:value="${startStationNum}"></option>
                    </select>
                </div>
                </div>

                <div>
                <div class="content"><h5>运输终点:</h5></div>
                <div class="content">
                    <select name="destinationNum" th:filed="*{destinationNum}">
                        <option>运输终点</option>
                        <option th:each="comInfoList:${comInfoList}" th:value="${comInfoList.comNum}"
                                th:text="${comInfoList.comNum}+${comInfoList.comName}"></option>
                    </select>
                </div>
                </div>

                <div>
                    <div class="content"><h5>起运时间:</h5></div>
                    <div class="content">
                        <input type="datetime-local" name="recordedTime" th:filed="*{recordedTime}">
                    </div>
                </div>
                <div><input class="content" type="submit" value="修改"></div>
            </form>
        </div>
    </div>
</div>
<div class="clearfix"></div>
</body>
</html>