<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></meta>
    <div th:replace="transadmin/header :: header-css"/>
    <style>
        .content {
            height: 35px;
            width: 200px;
            float: left;
        }
    </style>

    <title>TransStation_Man</title>

</head>
<body>
<div th:replace="transadmin/header :: header"/>
<div class="col-md-9 main">
    <div class="header-grids">
        <div class="col-md-6 log">
            <h3>新增车辆信息</h3>
            <form autocomplete="off"
                  th:object="${transStationInfo}" th:action="@{/transadmin/addTransStationInfo}" method="post" class="form-horizontal"
                  role="form" id="addTransStationInfo" name="addTrandStationInfo">
                <div>
                    <div class="content"><h5>车辆编号:</h5></div>
                    <div class="content"><input type="text" value="" name="carNum" th:filed="*{carNum}"></div>
                </div>
                <div>
                    <div class="content"><h5>车辆名称:</h5></div>
                    <div class="content"><input type="text" value="" name="carName" th:filed="*{carName}"></div>
                </div>
                <div>
                <div class="content"><h5>运输车类型:</h5></div>
                <div class="content">
                    <select name="carType" th:filed="*{carType}">
                        <option>请选择运输车类型</option>
                        <option th:each="car:${carList}" th:value="${car.type}"
                                th:text="${car.id}+${car.type}"></option>
                    </select>
                </div>
                </div>
                <div>
                    <div class="content"><h5>公司名称:</h5></div>
                    <div class="content"><input type="text" value="" name="companyName" th:filed="*{companyName}"></div>
                </div>
                <div>
                    <div class="content"><h5>公司编号:</h5></div>
                    <div class="content"><input type="text" value="" name="companyNum" th:filed="*{companyNum}"></div>
                </div>
                <div><input class="content" type="submit" value="提交"></div>
            </form>
        </div>

        <div class="col-md-6 log">
            <h3>查询运输车辆信息</h3>
            <form autocomplete="off"
                  th:object="${transStationInfo}" th:action="@{/transadmin/transStationInfoById}" method="post"
                  class="form-horizontal"
                  role="form" id="transStationInfoById" name="transStationInfoById">
                <div>
                    <!-- <div class="content"><h5>按车辆编号:</h5></div>-->
                    <div class="content">
                        <select name="carNum" th:filed="*{carNum}">
                            <option>车辆编号</option>
                            <option th:each="transStationInfoList:${transStationInfoList}" th:value="${transStationInfoList.carNum}"
                                    th:text="${transStationInfoList.carNum}+${transStationInfoList.carName}"></option>
                        </select>
                    </div>
                </div>
                <div><input class="content" type="submit" value="查询"></div>
            </form>
        </div>
        <div class="col-md-6 log">
            <h3>查询运输车辆信息</h3>
            <form autocomplete="off"
                  th:object="${queryPara}" th:action="@{/transadmin/transStationInfoByTime}" method="post"
                  class="form-horizontal"
                  role="form" id="transStationInfoByTime" name="transStationInfoByTime">
                <div>
                    <div class="content"><h5>起始时间:</h5></div>
                    <div class="content">
                        <input type="datetime-local" name="startTime" th:filed="*{startTime}">
                    </div>
                </div>
                <div>
                    <div class="content"><h5>终止时间:</h5></div>
                    <div class="content">
                        <input type="datetime-local" name="endTime" th:filed="*{endTime}">
                    </div>
                </div>
                <div><input class="content" type="submit" value="查询"></div>
            </form>
        </div>
        <div class="clearfix"></div>
    </div>

    <!--表格显示-->
    <div width="100%">
        <table border="1">
            <thead>
            <tr>
                <th>车辆编号</th>
                <th>车辆名称</th>
                <th>车辆类型</th>
                <th>所属公司编号</th>
                <th>公司名称</th>
                <th>操作人员编号</th>
                <th>车辆登记时间</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="transStationInfoRes:${transStationInfoResList}">
                <td th:text="${transStationInfoRes.carNum}"></td>
                <td th:text="${transStationInfoRes.carName}"></td>
                <td th:text="${transStationInfoRes.carType}"></td>
                <td th:text="${transStationInfoRes.companyNum}"></td>
                <td th:text="${transStationInfoRes.companyName}"></td>
                <td th:text="${transStationInfoRes.operatorNum}"></td>
                <td th:text="${transStationInfoRes.carRegTime}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="clearfix"></div>
</div>
<div class="clearfix"></div>
</body>
</html>